@tailwind base;
@tailwind components;
@tailwind utilities;


#display{ 
    line-height: 70px;
    padding: 16px 8px;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}

.buttons > div{
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button{
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.button:hover{
    background-color: white;
    color: blue;
    transition: 1s ease-out;
}